{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}

    {% include 'inc/nav-header.html.twig' %}
   
    <section class="container-fluid register">

      {% include 'inc/flashs.html.twig' %}
     
        <div class="row justify-content-center">
          
            <div class="col-md-6 jumbotron">
                <h1 class="h2">Inscription</h1>

                {{form_start(form)}}
                            
                        {{form_widget(form)}}

                    <button type="submit" class="btn btn-brown">S'inscrire</button>
                   
                {{form_end(form)}}
                    

            </div>            
        </div>
    
    </section>

{% endblock %}